<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script src="/javascripts/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/common.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
		<%- include('title.ejs') %>
		<!--<ol class="breadcrumb">
			<div class="container">
				 <li class="active">Home</li>
				 <li class="active"><a href="#">Home</a></li>
			</div>
		</ol>-->
		<section>
			<div class="container">
				<div class="col-md-8">
					<div class="post">
						<h2>成都市</h2>
						<span>啥事</span>
						<p>撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服爱发表于比
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服</p>
						
						<a href="" class="qw btn btn-warning">阅读全文</a>
					</div>
					<div class="post">
						<h2>成都市</h2>
						<span>啥事</span>
						<p>撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服爱发表于比
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服</p>
						
						<a href="" class="qw btn btn-warning">阅读全文</a>
					</div>
					<div class="post">
							<h2>成都市</h2>
						<span>啥事</span>
						<p>撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服爱发表于比
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服</p>
						
						<a href="" class="qw btn btn-warning">阅读全文</a>
					</div>
					<div class="post">
							<h2>成都市</h2>
						<span>啥事</span>
						<p>撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服爱发表于比
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服
						撒打算从大师法人范德萨发大尺度菜单沙发re都是范德萨v扔还能加速度吧好欲死国服</p>
						
						<a href="" class="qw btn btn-warning">阅读全文</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="post">
						<img src="/images/01.gif" class="face"/>
						<p class="f16">少年看你骨骼惊奇，快来加入我们吧</p>
						<% if(!user){ %>
					    <button onclick="logreg('/users/login','modal-cont','登录')" class="btn btn-primary" data-toggle="modal" data-target="#myModal">登录</button>
					    <button onclick="logreg('/users/register','modal-cont','注册')" class="btn btn-danger" data-toggle="modal" data-target="#myModal">注册</button>
					    <!-- Modal -->
								<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content" id="modal-cont">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
								      </div>
								      <div class="modal-body">
								      	<form action="" method="post" class="form-horizontal">
								      		  <div class="form-group">
														    <label for="username" class="col-sm-2 control-label">账号:</label>
														    <div class="col-sm-10">
														      <input type="text" class="form-control" id="username" name="username">
														    </div>
														  </div>
									      	  <div class="form-group">
														    <label for="password" class="col-sm-2 control-label">密码:</label>
														    <div class="col-sm-10">
														      <input type="password" class="form-control" id="password" name="password">
														    </div>
														  </div>
									        <button type="submit" class="btn btn-primary">提交</button>
									        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								      	</form>
								      	
								      </div>
								    </div>
								  </div>
								</div>
					  <% }else{ %>
					    <span>欢迎:<%- user %></span>
					    <button onclick="location.href='/message'" class="btn btn-default">留言</button>
					    <button onclick="location.href='/relogin'" class="btn btn-primary">退出</button>
					  <% } %>
				  </div>
				  <div class="post message"  onclick="location.href='/message'" >
						<p>看着这只狗你想说什么(留个言吧)</p>
					<div class="r-pic"></div>
				</div>
				</div>
			</div>
		</section>
		<div class="colors">
			<p class="colors1"></p>
			<p class="colors2"></p>
			<p class="colors3"></p>
			<p class="colors4"></p>
		</div>
		<footer>尾部写个啥</footer>
  </body>
</html>
