<header>
	<div class="banner">
		<a href="/"></a>
	</div>
</header>
<nav class="navbar navbar-inverse">
	<div class="container">
		<a href="/" class="navbar-brand active">首页</a>
		<a href="/pics" class="navbar-brand">图片</a>
		<a href="" class="navbar-brand">作品展示</a>
		<a href="/message" class="navbar-brand">留言板</a>
		<a href="/more" class="navbar-brand">更多</a>
		<form class="navbar-form navbar-right" role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="搜索">
			</div>
			<button type="submit" class="btn btn-group">搜索</button>
		</form>
	</div>
</nav>